body {
    background-color: #333333;
}

body.tiled-bg {
    background-image: url('../images/block.png');
    background-repeat: repeat;
}

/* UPDATED: Increased margin and removed shadow */
.content-container {
    width: 80%;
    background: #494949;
    margin: 2% auto;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 7%;
}

#conversationsimg {
    width: 60%;
}

a {
    color: #0F0;
    text-decoration: none;
}

a:active {
    color: #0F0;
}

a:visited {
    color: rgb(0, 255, 0);
}

a:hover {
    color: black;
}

/* Dropdown Button */
.dropbtn {
    background-color: black; 
    color: #0F0;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px; 
    min-width: 120px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #444444; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #0F0; 
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #333333; 
    color: #0F0; 
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block; 
}

.dropdown:hover .dropbtn {
    
}

img {
    max-width: 100%; 
    height: auto;    
}

#otlogo {
    width: 25%;
    height: auto; 
}

.github-logo {
    height: 1.5em;
    vertical-align: middle; 
}

/* UPDATED: Increased margin and removed shadow */
.topBar {
   display: flex; 
   justify-content: space-between; 
   align-items: center; 
   padding: 10px 20px;
   margin: 20px; /* Doubled margin */
   border-radius: 10px;
   background-color: #333333;
}


.lizardButton, .ratButton {
   background-color: black;
   color: #0F0;
   padding: 20px 25px; 
   font-size: 20px; 
   border: none;
   cursor: pointer;
   border-radius: 10px;
}

.falling-lizard {
   position: fixed; 
   top: -50px;      
   pointer-events: none; 
   z-index: 9999;   
   animation-name: fall; 
   animation-timing-function: linear; 
   user-select: none; 
}

@keyframes fall {
   to {
       transform: translateY(110vh) rotate(720deg);
   }
}

.contact-info {
    text-align: center;
}

ul {
    list-style-type: none;
}

@media (max-width: 768px) {
    .content-container {
        width: 95%;
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .github-logo {
        height: 2em;
    }

    #otlogo {
        width: 50%;
    }
}