body {
  background-color: #2b2825;
}

.dropbtn {
  background-color: #000;
  color: #0F0;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
 
.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: 000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  border-radius: 10px;
  color: #00ff00;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  border-radius: 10px;
  background-color: #00ff00;
  color: #000;
}

.dropdown:hover .dropdown-content {
  border-radius: 10px;
  display: block;
}

.dropdown:hover .dropbtn{
  background-color: #0F0;
  color: #000;
}

.projectList{
  list-style-type: none;
  a{
    color: #0F0;
    text-decoration: none;
  }
  a:hover{
    color: aquamarine;
  } 
}

.bottom {

  position:relative;
  bottom: 0px;
  width:100%;
  
  #otlogo {
    width: 30%;
  }
  #ghLink {
    width:25px;
  }
  a {
    color: #0F0;
    text-decoration: none;
  }
  a:active{
    color: #0F0;
  } 
  a:visited{
    color: #0F0;
  }
  a:hover{
    color: aquamarine;
  }
}



